* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 500px;
  width: 500px;
  background-color: green;
  border: 3px solid red;
  display: flex;
}
.box {
  border: 2px solid orange;
  background-color: aquamarine;
  height: 150px;
  width: 150px;
  margin: 20px;
  /* transition: 1s; */
  /* transition-property: background-color;
  transition-delay: 5sec; */
  /* transition: background-color 1s ease 3s; */
  /* transition: transform 1s ease 2s; */
  /* transition: transform 3s cubic-bezier(0.8, -0.32, 0, 2.12) 1s; */
  transition-property: transform;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 1s;
}
.box:hover {
  /* background-color: brown;
  transform: rotate(45deg); */
  transform: translateX(500px) rotate(360deg);
}
